DATABASE_URL="postgresql://usuario:senha@ep-xxxx-pooler.sa-east-1.aws.neon.tech/arena_futevolei?sslmode=require"
DIRECT_URL="postgresql://usuario:senha@ep-xxxx.sa-east-1.aws.neon.tech/arena_futevolei?sslmode=require"
JWT_SECRET="troque-por-um-segredo-forte-de-pelo-menos-16-caracteres"
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
